.profile {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  border-bottom: 1px solid #eeeeee;
  padding-bottom: 20px;
  margin-bottom: 20px;

  .profilePhoto {
    width: 20%;
    img {
        width: 100%;
        box-shadow: 0 0 20px 1px #e0e0e0;
    }
    margin-right: 40px;
  }

  .profileInfo {
    text-align: left;
    padding-top: 10px;
    max-width: 70%;

    ul {
      margin-left: 15px;
    }

    h4 {
      margin-top: 20px;
    }

    .what {
      margin-left: 5px;
    }
  }
}

@media screen and (max-width: 600px) {
  .profile {
    flex-direction: column;

    .profilePhoto {
      width: 80%;
      margin-left: auto;
      margin-right: auto;
      border-bottom: 1px dashed #eeeeee;
    }

    .profileInfo {
      width: 100%;

      h2 {
        margin-top: 5px;
      }
    }
  }
}

.profile:last-child {
  border-bottom: 0;
  padding-bottom: 0;
}