.homepageContainer {
  background-color: white;
  padding: 20px;
  display: flex;

  .aboutSection {
    flex: 4;

    p {
      width: 90%;
      text-align: justify;
    }
  }

  .contactSection {
    flex: 1;
  }
}

@media screen and (max-width: 600px) {
  .homepageContainer {
    flex-direction: column;

    .aboutSection {
      text-align: center;
      flex: 1;
      p {
        margin: auto;
      }

      margin-bottom: 20px;
    }

    .contactSection {
      flex: 1;
      text-align: center;
    }
  }
}

