  .pricesContainer {
    background-color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
  }

  .priceList {
    li {
      min-height: 40px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-left: 10px;
    }

    li:nth-child(even) {
      background-color: #fafafa;
    }

    li:hover {
      background-color: #f0f0f0;
    }

    .priceValue {
      margin-right: 40px;
      font-weight: bold;
    }
  }

    @media screen and (max-width: 600px) {
    .priceList {
      .priceName {
        margin-left: 0;
      }

      .priceValue {
        margin-right: 0;
      }
    }
  }