  .servicesContainer {
    background-color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
  }

 .servicesList {
    li {
      min-height: 40px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }

    li:nth-child(even) {
      background-color: #fafafa;
    }

    li:hover {
      background-color: #E4D6A7;
    }

    .serviceName {
      margin-left: 40px;
    }
  }