.servicesContainer {
  background-color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.servicesList {
  li {
    min-height: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 10px;
  }

  li:nth-child(even) {
    background-color: #fafafa;
  }
}

@media screen and (max-width: 600px) {
  .servicesList {
    .serviceName {
      margin-left: 0;
    }
  }
}

.servicesOverview {
  li {
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
}
