.header {
  width: 100%;
  width: 100%;
  background-color: white;
  padding: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.logo {
  margin-right: 20px;

  a:hover {
    border-bottom: 0;
  }

}

.siteTitle {
  flex-grow: 1;
  font-size: large;
  text-shadow: 1px 1px #eeeeee;
}

nav ul {
  li {
    display: inline;
    margin: 10px;
    text-shadow: 1px 1px #eeeeee;
  }
}

@media screen and (max-width: 600px) {
  .header {
    flex-direction: column;
  }
  
  .logo {
    display: block;
    text-align: center;
    width: 100%;
    margin: 20px;
  }
  nav ul {
    li {
      display: block;
      margin: 5px;
      text-shadow: 1px 1px #eeeeee;
      text-align: center;
    }
  }
}
  