@import "../../assets/styles/colors.scss";

.footer {
    height: 90px;
    width: 100%;
    background-color: $color-brand-primary;

    a, a:hover, a:visited, a:active, a:link, a:focus, a:active:focus {
        color: darken($color-brand-primary, 5%);
    }

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footerBox {
    color: white;
}

