@import "../../assets/styles/colors.scss";

.footer {
    width: 100%;
    background-color: #dddddd;
    padding: 20px;

    a, a:hover, a:visited, a:active, a:link, a:focus, a:active:focus {
        color: darken($color-brand-primary, 5%);
    }

    display: flex;
    align-items: stretch;
    justify-content: space-between;

    .insuranceSection, .hoursSection, .contactSection {
        width: 30%;
        border-right: 1px solid #cccccc;
    }

    .insuranceSection {
        border: 0;
    }

}

.footerBox {
    color: white;
}

@media screen and (max-width: 600px) {
    .footer {
        flex-direction: column;

        .insuranceSection, .hoursSection, .contactSection {
            width: 100%;
            border: 0;
            text-align: center;
            margin-bottom: 20px;
        }
    }
}

