$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/_bootstrap.scss';

@import "./colors.scss";
@import "./fonts.scss";
@import "./base.scss";

@import "./bootstrap.mods.scss";

body {
  background: $color-background;
  background: radial-gradient(desaturate($color-background, 100%), desaturate($color-background-alt, 100%));
}

.withShadow {
  box-shadow: 0 0 25px 5px desaturate($color-shadow, 100%);
}
